# --- DATABASE & VOLUMES (Wajib Ignore Wildcard) ---
postgres_data*
evolution_store*
evolution_instances*
waha_data*
data/chroma_data

# --- SYSTEM & GIT ---
.git
.gitignore
__pycache__
*.pyc
.DS_Store
.env