version: '3'

services:
# --- 1. CHROMA DB SERVER ---
  chroma-server:
    image: chromadb/chroma:latest
    container_name: faq_chroma_server
    restart: always
    ports:
      - "8000:8000"
    volumes:
      # KITA GANTI MAPPINGNYA JADI /index_data
      - ./data/chroma_data:/index_data
    environment:
      - IS_PERSISTENT=TRUE
      - PERSIST_DIRECTORY=/index_data  <-- KITA PAKSA TULIS DI SINI
      - ANONYMIZED_TELEMETRY=False

  # --- 2. WHATSAPP BOT (YANG HARUS MENGALAH) ---
  faq-bot:
    build: .
    container_name: faq_bot_wa
    restart: always
    ports:
      # KIRI = Pintu di Laptop Kamu (Host)
      # KANAN = Pintu di dalem Container (Code Python)
      - "8005:8000"  # <--- UBAH KIRI JADI 8005!
    depends_on:
      - chroma-server
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
    # Command tetap jalan di port 8000 container, tapi diakses dari luar via 8005
    command: uvicorn bot_wa:app --host 0.0.0.0 --port 8000

  # --- 3. USER APP ---
  faq-user:
    build: .
    container_name: faq_user_app
    restart: always
    ports:
      - "8501:8501"
    depends_on:
      - chroma-server
    volumes:
      - ./data:/app/data
      - ./images:/app/images
      - ./.streamlit:/app/.streamlit
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server # Nunjuk ke nama service di atas
      - CHROMA_PORT=8000
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0

  # --- 4. ADMIN APP ---
  faq-admin:
    build: .
    container_name: faq_admin_app
    restart: always
    ports:
      - "8502:8502"
    depends_on:
      - chroma-server
    volumes:
      - ./data:/app/data
      - ./images:/app/images
      - ./.streamlit:/app/.streamlit
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
    command: streamlit run admin.py --server.port=8502 --server.address=0.0.0.0

  # --- 5. FRONTEND V2 (Port 8080) ---
  faq-web-v2:
    build: .
    container_name: faq_web_v2
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - chroma-server
    volumes:
      - ./data:/app/data
      - ./web_v2:/app/web_v2  # Mapping folder code v2
    env_file: .env
    environment:
      - CHROMA_HOST=chroma-server
      - CHROMA_PORT=8000
    # Jalankan uvicorn mengarah ke folder web_v2
    command: uvicorn web_v2.main:app --host 0.0.0.0 --port 8080