version: '3'

services:
  # --- SERVICE 1: USER APP (Port 8501) ---
  faq-user:
    build: .
    container_name: faq_user_app
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data             # Database Shared (Laptop <-> Docker)
      - ./images:/app/images         # Gambar Shared
      - ./.streamlit:/app/.streamlit # Config Tema
    env_file:
      - .env                         # Baca API Key dari file .env
    # Perintah khusus jalankan User App
    command: streamlit run app.py --server.port=8501 --server.address=0.0.0.0

  # --- SERVICE 2: ADMIN APP (Port 8502) ---
  faq-admin:
    build: .
    container_name: faq_admin_app
    restart: always
    ports:
      - "8502:8502"                  # Buka Pintu Belakang buat Admin
    volumes:
      - ./data:/app/data             # WAJIB SAMA agar Database Sinkron
      - ./images:/app/images         # WAJIB SAMA agar Gambar Sinkron
      - ./.streamlit:/app/.streamlit
    env_file:
      - .env
    # Perintah khusus jalankan Admin Console
    command: streamlit run admin.py --server.port=8502 --server.address=0.0.0.0